---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Julio 2022 - Febrebro 2025",
    title: "Business system analyst",
    company: "JABIL Circuit",
    description:
      "Automatización de métricos en logística con una reducción del 90% en tiempos de entrega. Estandarización del reporte de incidencias de importación y mejora de la herramienta existente. Creación de dashboards en Power BI para optimizar la interpretación de reportes. Diseño e integración de servicios web (WCF, REST, SOAP) que redujeron tiempos de exportación en más del 50%. Optimización de procedimientos almacenados en SQL para mejorar la eficiencia en ejecución.",
  },
  {
    date: "Sept 2021 - Jun 2022",
    title: "Desarrollador web FullStack",
    company: "MAVI de occidente S.A. deC.V.",
    description:
      "Integración de nuevas funcionalidades en plataforma de cobranza siguiendo guidelines corporativos. Optimización de procedimientos almacenados en SQL y procesos en Web Services para un mejor uso de recursos. Desarrollo de componentes reutilizables en Vue con Vuetify, mejorando la eficiencia en el front-end.",
  },
  {
    date: "Ago 2019 - Sep 2021",
    title: "Desarrollador .Net FullStack",
    company: "DeepDev",
    description:
      "Diseño de arquitecturas en capas y uso de código genérico para garantizar software mantenible y escalable. Implementación de CI/CD que redujo tiempos de despliegue a PRD y STG. Desarrollo de aplicaciones WPF con MVVM y XAML, integrando servicios web y APIs RESTful para mejorar la experiencia del usuario y el rendimiento visual.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
